# 忽略所有文件
*

# 不忽略这些特定文件
!index.html
!LICENSE
!PaymentGatewaySDK.web.js
!.gitignore

# 忽略所有隐藏文件和文件夹
.*
!/.gitignore

# 忽略所有 node_modules
node_modules/

# 忽略日志文件
*.log

# 忽略 IDE 和编辑器文件
.idea/
.vscode/
*.swp
*.swo 